.MyForm {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 300px;
    border: 2px solid black;
}
.container {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;

}